@use "../util";

.grid {
  // Note that the grid is organized according to the order of the HTML content
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto; // The size is based on the size of the content in the child.
  // We control the spacing between the columns with this property
  gap: util.rem(
    40
  );

  // It allows you to set a maximum size threshold that should not be exceeded, subtracting the space you want.
  width: min(100% - util.rem(40), util.rem(1000));
  margin-inline: auto; 
  font-size: 2em;

  @include util.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto; // to eliminate the gap created by the mobile view.
  }

  &__main,
  &__sidebar {
    padding: util.rem(40);
  }

  &__sidebar {
    @include util.breakpoint-down(medium) {
      text-align: center;
    }

    @include util.breakpoint-down(small) {
      text-align: right;
    }
  }

  &__widget {
    // We add padding to avoid the strange behavior of "margin collapse" (the addition of default margins by the browser).
    padding: util.rem(16);
  }
}
